.container {
    display: flex;
    min-height: 100vh;
    position: relative;
    background-color: var(--background);
    overflow-x: hidden;
}

.backgroundLayer {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

.bgImage {
    position: absolute;
    inset: 0;
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAqD998siJwRKMW4HW7Befm0UxlYIMmUtQ2poWkMC6a3Xa92E9l9OdfJjcG52LbCzurKgmUWbrvMWFv-9hBrmKg16lhS0Cr3V8KEDosnSecsO5MQOLawhJ8lQVrUNBOBJ61S_lgixe8URqNBlKVRYWVDmAPLNyUHIPOgVWmFEvcL3V1LGImnTU-rrn32LPX_4nSc_VQLd1MwdAh4tOMGisIWxJU7eo330clxentPxHQb5Aw2WzZkzmvATGt3CIFMK6V-B6mVsoXwSE');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(4px);
    opacity: 0.05;
}

.vignette {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, transparent 0%, var(--background) 90%);
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8);
}

.main {
    flex: 1;
    padding: 2rem;
    margin-left: 280px;
    /* Sidebar width */
    position: relative;
    z-index: 1;
    overflow-y: auto;
}